<div ng-controller="app.views.authors.index as vm">
    <div>
        <h1> Cadastro de Autores </h1>
    </div>
    <div class="form-group pull-right">
        <button type="button" class="btn  btn-primary pull-right" ng-click="vm.openDialog(false);">
            <span class=" fa fa-plus btn-color-white"> <span class ="btn-beautiful"> Adicionar Autor</span></span>
        </button>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>E-mail</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.listAutor">
                    <th>{{item.nome}}</th>
                    <td>{{item.sobrenome}}</td>
                    <td>{{item.idade}}</td>
                    <td>
                        <a class=" glyphicon glyphicon-pencil" ng-click="vm.openDialog(item, true);"></a>
                    </td>
                    <td>
                        <a class=" fa fa-trash text-danger" ng-click="vm.deleteAutor(item)"></a>
                    </td>
                   
                </tr>

            </tbody>
        </table>

    </div>



</div>